<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Planning Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="container">
        <header class="hero">
            <h1>Welcome to Energy System Planning</h1>
            <p>Analyze, optimize, and plan for a sustainable future</p>
            <button id="sayHelloButton" data-url="{% url 'say_hello' %}" class="cta-button">Say Hello</button>
        </header>
    </div>

    <!-- JavaScript to handle button click and AJAX request -->
    <script src="{% static 'js/button_helloworld.js' %}">
    </script>

</body>

</html>