# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.venv/
env.bak/
venv.bak/

# Django files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
db.sqlite3
*.sqlite3
*.db-journal
*.sqlite-journal

# Django local settings
local_settings.py
.env

# Media and static files
media/
staticfiles/
static/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# PyCharm
.idea/

# VS Code
.vscode/

# Other IDE specific files
*.sublime-project
*.sublime-workspace

# Python packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Test coverage reports
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.cache
coverage.xml
nosetests.xml
pytest.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
dmypy.json
.dmypy.json

# Flask and Django extensions
instance/
.snap
