* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: white;
}

#rootdiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 100vh;
}

#outercolumn2 {
  display: flex;
  flex-grow: 5;
  min-width: 50%;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-left: 0;
}

#outercolumn1 {
  display: flex;
  min-width: 50%;
  flex-grow: 5;
  flex-direction: column;
  border-style: solid;
  border-color: black;
}

#imagebox {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
}

#inputbox {
  border-color: black;
  border-style: solid;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  background-color: aqua;
  height: 200px;
  width: 100%;
}

#irr905 {
  background-image: url("https://images.pexels.com/photos/2121640/pexels-photo-2121640.jpeg?auto=compress&cs=tinysrgb&w=500&dpr=2");
  background-size: contain;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#matrix {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

#charts {
  border-color: black;
  border-style: solid;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
}

#checkboxes {
  border-color: black;
  border-style: solid;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#ibbbfw {
  display: block;
}

#checkboxrow {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 100%;
}

#cbrow {
  display: flex;
  justify-content: space-evenly;
}

svg {
  width: 60%;
  height: 30%;
  padding-block: 10px;
}

@media (max-width: 992px) {
  .grid-row {
    flex-direction: column;
  }
}

#language-buttons-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px; 
  z-index: 1000;
}

#language-button-en, #language-button-de {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 25px; 
  height: 25px; 
  cursor: pointer;
   
}

#language-button-en img, #language-button-de img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}