/*General styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.543);
  color: white;
}

svg {
  width: 60%;
  height: 30%;
  padding-block: 10px;
}

@media (max-width: 992px) {
  .grid-row {
    flex-direction: column;
  }
}

/*root div*/

#rootdiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* left page side */

#outercolumn1 {
  display: flex;
  min-width: 50%;
  max-width: 50%;
  flex-direction: column;
}

#imagebox {
  min-height: 80%;
  display: flex;
  padding: 1% 0.5% 0.5% 1%;
}

/* right page side */

#outercolumn2 {
  display: flex;
  min-width: 50%;
  flex-direction: column;
}

#charts {
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  min-height: 40%;
  display: flex;
  flex-direction: column;
}

#checkboxes {
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#cbrow {
  display: flex;
  justify-content: space-evenly;
}

svg {
  width: 60%;
  height: 30%;
  padding-block: 10px;
}

.p-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-panel .p-panel-header {
  display: none;
}

#matrix-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 40%;
  padding: 1% 1% 0.5% 0.25%;
}

#matrix-box .p-panel-p-component{
  display: flex;
}

#matrix {
  width: 100%;
  height: 100%;
}

#matrix .p-panel{
  display: flex;
  justify-content: center;
  align-items: center;
}

#matrix_content .p-panel-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart-matrix {

}

#playfield {
  width: 100%;
  height: 100%;
}

#playfield .p-panel-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20%;
  min-width: 100%;
  padding: 0% 0.25% 0% 1%;
}

#sliders {
  display: flex;
  width: 100%;
  height: 90%;
}

#sliders_content {
  min-width: 50%;
  text-align: center;
}

.w-56 {
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 5px;
}


@media (max-width: 992px) {
  .grid-row {
    flex-direction: column;
  }
}

#language-buttons-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

#language-button-en,
#language-button-de {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#language-button-en img,
#language-button-de img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
