/*General styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.543);
  color: white;
}

svg {
  width: 60%;
  height: 30%;
  padding-block: 10px;
}

@media (max-width: 992px) {
  .grid-row {
    flex-direction: column;
  }
}

/*root div*/

#rootdiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 100vh;
}

/* left page side */

#outercolumn1 {
  display: flex;
  min-width: 50%;
  flex-direction: column;
}

#imagebox {
  min-height: 80%;
  display: flex;
  flex-direction: column;
}


#irr905 {
  background-image: url("https://images.pexels.com/photos/2121640/pexels-photo-2121640.jpeg?auto=compress&cs=tinysrgb&w=500&dpr=2");
  background-size: contain;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* right page side */

#outercolumn2 {
  display: flex;
  min-width: 50%;
  flex-direction: column;
  border-left: 0;
}

#matrix {
  min-height: 30%;
  display: flex;
  flex-direction: column;
}

#charts {
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  min-height: 40%;
  display: flex;
  flex-direction: column;
}

#checkboxes {
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#cbrow {
  display: flex;
  justify-content: space-evenly;
}

svg {
  width: 60%;
  height: 30%;
  padding-block: 10px;
}

.w-56 {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 5%;
}

.p-panel {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 98%;
  margin-top: 2%;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  object-fit: contain;
}

@media (max-width: 992px) {
  .grid-row {
    flex-direction: column;
  }
}

#language-buttons-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

#language-button-en,
#language-button-de {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#language-button-en img,
#language-button-de img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider-box {
  min-height: 10%;
  max-height: 20%;
  min-width: 100%;
  object-fit: contain;
}